<div class="margin-top">
    <div class="login-zip">
    <div class="video-container " >
        <video [muted]="true" class="video-shape" autoplay playsinline loop >
            <source src="./assets/bariflo-logo.mp4" type="video/mp4">
           </video>
    </div>
               
                <div class="card-container">
                    <div class="card-header">
                        <h1 class="heading-login">Find Your Password</h1>
                        <h1 class="heading-login" >Enter your Registered Email ID</h1>
                    </div>
                    <div class="form-group">
                        <label for="email" class="label-name"></label>
                        <input id="email" [(ngModel)]='userInput' type="email" class="input-style" placeholder="Email">
    
                    </div>
                  
                    <p class="error">{{errorMsg}}</p>
                    <button class="login-button" (click)="onLogin()" >Next</button>
    
    
    
    
    
                </div>
    
    </div>
        
        
    
 
   
</div>
